---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Marzo 2025 - Diciembre 2025",
    title: "Backend developer Freelancer",
    company: "Freelancer",
    description:
      "Estuve trabajando como freelancer durante unos cuantos meses para mejorar mi comprensión y aumentar mi experiencia con tecnologías que no había utilizado antes. Mejoré algunas habilidades por el lado del frontend y pude adquirir una mayor comprensión del desarrollo web desde la perspectiva del diseño e implementación de soluciones reales."
  },
{
    date: "Mayo 2024 - Actualidad",
    title: "Backend developer Junior",
    company: "Medilatam",
    description:
      "Medilatam es un proyecto de alto impacto social y pensado en lanzarse el 2026 en diversos países comenzando por Argentina. En este proyecto desempeño el rol de Desarrollador Backend encargado de la seguridad y el manejo de una API REST, además de la administración de sus correspondientes bases de datos."
  },
  {
    date: "3 meses",
    title: "Backend Developer Junior",
    company: "No Country",
    description:
      "Simulación laboral en la que trabajé con un equipo y un Team Leader, utilizamos la metodología SCRUM y desarrollamos el proyecto 'MediLatam Connect'."
  },
  {
    date: "10 meses",
    title: "Backend Developer Trainee",
    company: "Ekot Solutions S.A.",
    description:
      "En esta experiencia laboral me dediqué a realizar mantenimiento por el lado backend de una aplicación desarrollada en Java que gestion pedidos de diversas cadenas de restaurantes en Lima. Me desarrolllé contribuyendo en el código de la aplicación tanto como en el manejo de conexiones con API's REST y bases de datos en PostgreSQL."
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
