---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "5 meses",
    title: "Backend Engineer Trainee",
    company: "Ekot Solutions S.A.",
    description:
      "Me encargaba de revisar y hacer mantenimiento al código de una aplicación web que ayuda a gestionar pedidos en diversas cadenas de restaurantes de Perú."
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
